* {
    /* DayGrim */
    color: #74828F;
    color: #74828F;
    color: #98a5b1;
    color: #96C0CE;
    color: #C25B56;

    /* budongsan */
    color: #2d095c;
    color: #20366b;
    color: #dd7777;
    color: #eae3e3;
}