* { margin: 0; padding: 0; font: normal 12px arial; }
body { background: #eae3e3; }
ul, ol { list-style: none; color: #3a3333; }
ul { overflow: hidden; }
a { text-decoration: none; color: #111; }
a:hover, a:active, a:focus { text-decoration:none; }

/* Login Form */
.login_form {
    position:absolute; 
    top:50%; left:50%;
    width: 300px;
    height: 120px;
    margin: -80px 0 0 -150px;
    background: #f2f2f2;
    border-radius: 13px;
}
.login_form input {
    font-size: 12px;
    line-height: 1.5;
    width: 185px;
    height: 26px;
    color: #888;
    position: absolute;
    background: #fff;
}
.login_form input:nth-child(1){
    left: 15px;
    top: 30px;
    padding-left: 12px;
}
.login_form input:nth-child(2){
    left: 15px;
    top: 59px;
    padding-left: 12px;
}
.login_form input:nth-child(3){
    float: left;
    width: 70px;
    height: 59px;
    top: 30px;
    right: 15px;
    background: #20366b;
    color: #fff;
    border-style: hidden;
}

/* DashBoard */
.wrapper {
    max-width: 400px;
    margin: 0 auto;
}
.wrapper img {
    width: 100%;
}
.dashboard {
    width: 100%;
    overflow: hidden;
    padding: 2%;
    box-sizing: border-box;
}
.dashboard a {
    float: left;
    display: block;
    font-size: 3em;
    text-align: center;
    padding-top: 20px;
}
.dashboard a:nth-child(1) { background-image: linear-gradient(#20366b, #42426d); } 
.dashboard a:nth-child(2) { background-image: linear-gradient(#20366b, #42426d); } 
.dashboard a:nth-child(3) { background-image: linear-gradient(#56486f, #8c5b72); } 
.dashboard a:nth-child(4) { background-image: linear-gradient(#56486f, #8c5b72); } 
.dashboard a:nth-child(5) { background-image: linear-gradient(#bb6c75, #dd7777); } 
.dashboard a:nth-child(6) { background-image: linear-gradient(#bb6c75, #dd7777); } 
.dashbtn {
    width: 40%;
    height: 70px;
    border-radius: 10px;
    background: #20366b;
    color: #fff;
    margin: 5%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.55);
}
.dashbtn:hover {
    background: #dd7777;
    transition: 0.2s;
}
.dashmybtn {
    margin-top: 70px;
}


/* Upload Card */
.uploadrCard table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    border: 1px solid #20366b;
    background: #fdf8f8;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.55);
}
.uploadrCard table, .uploadrCard th, .uploadrCard td {
    border-bottom: 1px solid #20366b;
}
.uploadrCard td {
    font-size: 1.7em;
    height: 30px;
    padding: 2px;
}
.uploadrCard select {
    font-size: 1em;
    height: 30px;
}
.uploadrCard input {
    height: 30px;
    font-size: 1em;
}
.uploadrCard #uploadSubmit {
    font-size: 1.5em;
    float: right;
    width: 67px;
    height: 38px;
}
.uploadrCard td span {
    font-size: 1em;
    font-weight: 600;
}
/* #main */
.uploadrCard #main td:nth-child(1) { width: 30%; text-align: center; }
.uploadrCard #main tr:nth-child(4) td:nth-child(3) { width: 35%; }
.uploadrCard #main tr:nth-child(5) input { width: 98%; }
.uploadrCard #main tr:nth-child(6) input { width: 26%; }
.uploadrCard #main tr:nth-child(6) td:nth-child(3) { text-align: center; width: 25%; }
.uploadrCard #main tr:nth-child(7) input { width: 98%; }
/* #forSale */
.uploadrCard #forSale td:nth-child(1) { width: 30%; text-align: center; }
.uploadrCard #forSale input { width: 35%; }
/* #forJeonse */
.uploadrCard #forJeonse td:nth-child(1) { width: 30%; text-align: center; }
.uploadrCard #forJeonse input { width: 35%; }
/* #forRent */
.uploadrCard #forRent td:nth-child(1) { width: 30%; text-align: center; }
.uploadrCard #forRent input { width: 35%; }
/* #etc */
.uploadrCard #etc td:nth-child(1) { width: 40%; text-align: center; }
/* #connect */
.uploadrCard #connect td { font-size: 1.4em; }
.uploadrCard #connect input { height: 25px; }
.uploadrCard #connect td:nth-child(1) { text-align: center; }
.uploadrCard #connect td:nth-child(2) { text-align: center; width: 20%; }
.uploadrCard #connect td:nth-child(2) input { width: 95%; }
.uploadrCard #connect td:nth-child(3) input { width: 98%; }
.uploadrCard #connect td:nth-child(4) { width: 10%; }
.uploadrCard #connect td:nth-child(4) input { width: 98%; }

/* list */
.listheader { margin-bottom: 5px; }
.listheader h2 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 5px;
}
.listheader select {
    height: 35px;
    font-size: 1.1em;
    padding: 2px 6px;
}
button {
    width: 18%;
    height: 35px;
    font-size: 1.1em;
    float: right;
    margin-left: 3px;
}
.list table {
    width: 100%;
    border-collapse: collapse; 
    background: #fdf8f8;
}
.list table tr:hover {
    background: #fff;
    cursor: pointer;
}
.list table tr:nth-child(1):hover {
    background: none;
    cursor: default;
}
.list table tr th {
    width: 17%;
    font-size: 1.3em;
    border-bottom: 3px solid #20366b;
    padding: 4px 0;
}
.list table tr th:nth-child(3){
    width: 32%;
}
.list table tr td {
    text-align: right;
    font-size: 1.2em;
    border-bottom: 1px solid #20366b;
    padding: 4px 0;
}
.list table tr td:nth-child(1) {
    text-align: center;
}
.list table tr td:nth-child(2) {
    text-align: center;
}

/* view */
.view table {
    margin: 6px 0;
    width: 100%;
    background: #fdf8f8;
    border-collapse: collapse; 
}
.view table tr td {
    font-size: 2em;
    padding: 6px 0;
    border-bottom: 1px solid #20366b;
}
.view table tr td span { font-size: 1em; }
.view table tr td:nth-child(1) {
    color: #888;
    text-align: center;
    width: 35%;
}
.view table tr td:nth-child(2) {
    font-size: 1.6em;
}