extends ./layout.pug

block title
    title db to pug
block content
    div 그냥 todo테이블 : 
    = todos
    div each-in 쓴 todo테이블 : 
    each todo in todos
        li
            = todo.content
    div done=0 구분한 todo테이블 :
    each todo in todos
        if todo.done == 0
            li 할거 - 
                = todo.content
        else
            li 한거 - 
                = todo.content
