doctype html
html
    head
        meta(charset='utf-8')
        title ToDo List
        style
            include style.css
    body
        div.wrapper
            div.title
                p 
                    =name
            div.input
                input(type="text", placeholder="...")
                span ↵
            div.list.do
                each todo in doTodos
                    ul.do
                        li
                            = todo.content
                            span X
            div.list.done
                each date in donedate
                    p 
                        =date.D
                        each todo in doneTodos
                            ul.done
                                li 
                                    = todo.D
                                    span X

