* { margin: 0; padding: 0; font: normal 12px arial; }
ul, ol { list-style: none; color: #3a3333; }
ul { overflow: hidden; }
a { text-decoration: none; color: #111; }
a:hover, a:active, a:focus { text-decoration:none; }
body { background: #e0e0e0; }

/* Login Form */
.login_form {
    position:absolute; 
    top:50%; left:50%;
    width: 300px;
    height: 120px;
    margin: -80px 0 0 -150px;
    background: #f2f2f2;
    border-radius: 13px;
}
.login_form input {
    font-size: 12px;
    line-height: 1.5;
    width: 185px;
    height: 26px;
    color: #888;
    position: absolute;
}
.login_form input:nth-child(1){
    left: 15px;
    top: 25px;
    padding-left: 12px;
}
.login_form input:nth-child(2){
    left: 15px;
    top: 54px;
    padding-left: 12px;
}
.login_form input:nth-child(3){
    float: left;
    width: 70px;
    height: 59px;
    top: 25px;
    right: 15px;
}
.login_form p {
    margin: 85px 0 0 16px;
    color: #475f4b;
}

/* Todo List */
.wrapper {
    overflow: hidden;
    min-width: 320px;
    max-width: 550px;
    margin: 15px auto;
    border-radius: 0 0 15px 15px;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px 1px rgba(25, 28, 33, 0.3);
}
.title {
    width: 100%;
    height: 61px;
    background: #fff;
    padding-top: 12px;
    border-top: 6px solid #29ae68;
    box-sizing: border-box;
}
.title p {
    text-align: center;
    font-size: 25px;
    color: #30396d;
    font-weight: 600;
    margin-bottom: 10px;
}
.input {
    width: 100%;
    height: 47px;
    background: #fff;
}
.input form { width: 100%; display: flex; }
.input #inputtext {
    height: 30px;
    flex: auto;
    margin: 0 10px 0 20px;
    float: left;
    padding-left: 7px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.input #inputsubmit {
    font-size: 25px;
    font-weight: 200;
    cursor: pointer;
    float: right;
    width: 20px;
    margin-right: 20px;
    color: #9a9a9a;
    border: none;
    background: none;
}
.list {
    float: left;
    width: 100%;
    background: #efefef;
    padding: 5px 20px 10px 20px;
    box-sizing: border-box;
}
.list li {
    float: left;
    width: 92%;
    font-size: 14px;
    padding: 6px 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.list li:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #b50000;
}
.list span {
    cursor: pointer;
    float: right;
    height: 20px;
    padding-top: 7px;
    font-size: 20px;
}
.list span:hover { color: red; }
.do { padding-top: 0; }
.done { padding-top: 0; border-radius: 0 0 15px 15px; }
.done li { text-decoration: line-through; }
.done p {
    text-align: center;
    padding: 30px 0 5px 0;
    font-size: 15px;
    font-weight: 600;
    color: #b3b3b3;
}