doctype html
html
    head
        meta(charset='utf-8')
        title ToDo List
        style
            include style.css
    body
        div.wrapper
            div.title
                p TODO LIST
            div.input
                input(type="text", placeholder="...")
                span
            div.list.do
                ul.do
                    li 할거목록1
                    span X
                    li 할거목록2
                    span X
            div.list.done
                p 2019-02-15
                ul.done
                    li 한거 목록1
                    span X
                    li 한거 목록2
                    span X
                p 019-02-13
                ul.done
                    li 한거 목록1
                    span X
                    li 한거 목록2
                    span X
                    li 한거 목록2
                    span X