* { margin: 0; padding: 0; font: normal 12px arial; }
ul, ol { list-style: none; color: #3a3333; padding-top: 4px; }
a { text-decoration: none; color: #111; }
a:hover, a:active, a:focus { text-decoration:none; }
body { background: #232729; }

/* Login Form */
.login_form {
    position:absolute; 
    top:50%; left:50%;
    width: 300px;
    height: 120px;
    margin: -80px 0 0 -150px;
    background: #f2f2f2;
    border-radius: 13px;
}
.login_form input {
    font-size: 12px;
    line-height: 1.5;
    width: 185px;
    height: 26px;
    color: #888;
    position: absolute;
}
.login_form input:nth-child(1){
    left: 15px;
    top: 32px;
    padding-left: 12px;
}
.login_form input:nth-child(2){
    left: 15px;
    top: 61px;
    padding-left: 12px;
}
.login_form input:nth-child(3){
    float: left;
    width: 70px;
    height: 59px;
    top: 32px;
    right: 15px;
}

/* Todo List */
.wrapper {
    max-width: 550px;
    margin: 0 auto;
    border-radius: 0 0 15px 15px;
    box-sizing: border-box;
    box-shadow: 0px 3px 2px 1px #07130d;
}
.title {
    width: 100%;
    height: 61px;
    background: #fff;
    margin-top: 15px;
    padding-top: 12px;
    border-top: 6px solid #29ae68;
    box-sizing: border-box;
}
.title p {
    text-align: center;
    font-size: 25px;
    color: #001278;
    font-weight: 600;
    margin-bottom: 10px;
}
.input {
    display: flex;
    width: 100%;
    height: 47px;
    background: #fff;
}
.input input {
    height: 30px;
    flex: auto;
    margin: 0 10px 0 20px;
    float: left;
    padding-left: 7px;
    font-size: 20px;
}
.input span {
    font-size: 25px;
    font-weight: 200;
    cursor: pointer;
    float: right;
    margin-right: 20px;
    color: #9a9a9a;
}

.list {
    width: 100%;
    background: #c3c3bb;
    padding: 5px 20px 17px 20px;
    box-sizing: border-box;
}
.list li {
    font-size: 16px;
    padding: 6px 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.list li:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
}
.list span {
    cursor: pointer;
    float: right;
    height: 20px;
}
.do { padding-top: 4px; }
.done { border-radius: 0 0 15px 15px; }
.done li { text-decoration: line-through; }
.done p {
    text-align: center;
    margin: 30px 0 0 0;
    font-size: 15px;
    font-weight: 600;
    color: #f1f1f1;
}