* {
    margin: 0;
    padding: 0;
    font: normal 12px '돋움';
  }
ul, ol { list-style: none; }
a { text-decoration: none; color: #111; }
a:hover, a:active, a:focus { text-decoration:none; }

.login_form {
    position:absolute; 
    top:50%; left:50%;
    width: 300px;
    height: 120px;
    margin: -80px 0 0 -150px;
    background: #f2f2f2;
}
.login_form input {
    font-size: 12px;
    line-height: 1.5;
    width: 185px;
    height: 26px;
    color: #888;
    position: absolute;
}
.login_form input:nth-child(1){
    left: 15px;
    top: 32px;
    padding-left: 12px;
}
.login_form input:nth-child(2){
    left: 15px;
    top: 61px;
    padding-left: 12px;
}
.login_form input:nth-child(3){
    float: left;
    width: 70px;
    height: 59px;
    top: 32px;
    right: 15px;
}